<%- include('../partials/header') %>

<table>
  <thead>
    <tr>
      <th>airline</th>
      <th>airport</th>
      <th>flightNo</th>
      <th>departs</th>
    </tr>
  </thead>
  <tbody>
    <!-- Write the line of EJS to iterate over movies using forEach -->
    <% flights.forEach(function(f) { %>
    <tr>
      <td><%= f.airline %></td>
      <td><%= f.airport %></td>
      <td><%= f.flightNo %></td>
      <td><%= f.departs %></td>
    </tr>
    <!-- Close the forEach using EJS here -->
    <% }); %>
  </tbody>
</table>

<%- include('../partials/header') %>
